html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	min-inline-size: 300px;
	max-inline-size: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
	align-content: center;
	justify-content: center;
	font-family: 'Golos Text', serif;
	background-color: #f8f8f8;
}

a {
	text-decoration: none;
	color: inherit;
}

#__next {
	inline-size: 100%;
	min-block-size: calc(100dvh - 40px);
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
